<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    
    <!-- título -->
    <title>Contacto</title>
    
</head>
<body class="body1">
    <!--Encabezado-->
    <div class="navbar1">
    <header>
        <nav>
           
            <ul class="listas">
                <li class="nav__item"><a href="../index.html">Home</a></li>
                <li class="nav__item"><a href="../views/productos.html">Productos</a></li>
                <li class="nav__item"><a href="../views/servicios.html">Servicios</a></li>
                <li class="nav__item"><a href="../views/contacto.html">Contacto</a></li>
                <li class="nav__item"><a href="../views/registrarme.html">Registrarme</a></li>
                <li class="nav__item"><a href="../views/iniciarsesion.html">Iniciar Sesión</a></li>
            </ul>
        </nav>
     </header> 
    </div>          
    <!--LOGO -->            
                <section class="foto11">                    
                    <img class="courier2" src="../assets/img/courier11.jpg" alt="couriersss">
                </section>
                                                          
       

    <!-- pie de pagina -->

    
    <footer>

        <section class="redes">
                <img src="../assets/img/facebook.JPG" alt="face">
                <img src="../assets/img/insta1.JPG" alt="insta">
                <img src="../assets/img/whatsapp.JPG" alt="whatsapp">
                
        </section>   
        
        <section class="mapa">
            <h4>Ubicación</h4>
            <iframe class="mapita" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.659062767557!2d-77.01097688457365!3d-12.20358604816165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b9e240513299%3A0x39f8c19b5073efbd!2sSurinam%20189%2C%20Chorrillos%2015067!5e0!3m2!1ses-419!2spe!4v1647103271933!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </section>
    </footer>
        
    
</body>
</html>
