<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html"></a>Home</li>
            </ul>
        </nav>
    </header>
    <h1>Gracias por tu interés en trabajar con nosotros , en un máximo de 24 horas estaremos respondiéndote a tu e-mail con tu cotización , saludos.</h1>
    <script>
        setTimeout(function() {
            window.location.replace('index.html')
        }, 2000);
    </script>
</body>
</html>