<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    
    <!-- titulo -->
    <title>Iniciar Sesión</title>

</head>
<title>Iniciar Sesión</title>
<body>
    <!--Encabezado-->
    <header>
        <nav>
           
            <ul class="listas">
                <li class="nav__item"><a href="../index.html">Home</a></li>
                <li class="nav__item"><a href="../views/productos.html">Productos</a></li>
                <li class="nav__item"><a href="../views/servicios.html">Servicios</a></li>
                <li class="nav__item"><a href="../views/contacto.html">Contacto</a></li>
                <li class="nav__item"><a href="../views/registrarme.html">Registrarme</a></li>
                <li class="nav__item"><a href="../views/iniciarsesion.html">Iniciar Sesión</a></li>
                <section>
                    <img src="" alt="">
                </section>
                                                          
            </ul>
        </nav>

        <!-- pie de pagina -->


    <footer>
        <section>
            <nav>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
            
        </section>
    </footer>











    
</body>
</html>