<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="../css/style.css">
    
    <!-- titulo -->
    <title>Registrarme</title>
    
</head>
<body>
    <!--Encabezado-->
    <header>
        <nav>
           
            <ul class="listas">
                <li class="nav__item"><a href="../index.html">Home</a></li>
                <li class="nav__item"><a href="../views/productos.html">Productos</a></li>
                <li class="nav__item"><a href="../views/servicios.html">Servicios</a></li>
                <li class="nav__item"><a href="../views/contacto.html">Contacto</a></li>
                <li class="nav__item"><a href="../views/registrarme.html">Registrarme</a></li>
                <li class="nav__item"><a href="../views/iniciarsesion.html">Iniciar Sesión</a></li>
            <section>
                <img src="../assets/img/courier10.JPG" alt="foto2">
            </section>
            </ul>
    </header>
            <div class="header-container">
                <div class="header">
                    
                    <div class="signup">Sign up</div>
                    <div class="login">Login</div>
                </div>

            <section class="section-container">
                <div class="section">
                    <div class="suscribete">
                        <p>Suscribete</p>
                    </div>
                    <div class="logo">
                        <img src="" alt="">
                    </div>
                    <div class="social">
                        <img src="" alt="">
                    </div>
                </div>


            </section>
        </nav>

    <!-- pie de pagina -->

    <footer>
        <section>
        
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        
        </section>
    </footer>
    








    
</body>
</html>